@model IList<CategoryModel>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Categories</title>
    <link rel="stylesheet" href="~/css/all-categories-style.css">
</head>
<body>
    @{
        await Html.RenderPartialAsync("_NavigationBar");
    }
    <div class="container">
        <h1>Category List</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Parent ID</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>@category.name</td>
                        <td>@category.parent_category_id</td>
                        <td>
                            <div class="btn-container">
                                <form asp-controller="Category" asp-action="Edit" method="get">
                                    <input type="hidden" name="categoryId" value="@category.Id" />
                                    <button type="submit" class="btn btn-primary">Edit</button>
                                </form>
                                <form asp-controller="Category" asp-action="Delete" method="post">
                                    <input type="hidden" name="categoryId" value="@category.Id" />
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</body>
</html>
