@model AddCategoryModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Add Category</title>
    <link rel="stylesheet" href="~/css/create-category-style.css">
</head>
<body>
    <div class="container">
        <h1>Add Category</h1>
        <form method="post" asp-controller="Category" asp-action="CreateCategory">
            <div class="form-group">
                <label asp-for="name">Enter Category Name:</label>
                <input asp-for="name" class="input" />
            </div>
            <div class="form-group">
                <label asp-for="parent_category_id">Select Parent Category:</label>
                <select asp-for="parent_category_id" class="input">
                    <option value="">Select Parent Category</option>
                    @foreach (CategoryModel parentCategory in ViewBag.Categories)
                    {
                        <option value="@parentCategory.Id">@parentCategory.Id - @parentCategory.name</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Add Category</button>
        </form>
    </div>
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</body>
</html>
