@model AddFilmModel;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Add Film</title>
    <link rel="stylesheet" href="~/css/create-film-style.css">
</head>
<body>
    <div class="container">
        <h1>Add Film</h1>
        <form method="post" asp-controller="Film" asp-action="Add">
            <div class="form-group">
                <label for="name">Enter film name:</label>
                <input type="text" id="name" name="name" class="form-control" />
            </div>
            <div class="form-group">
                <label for="director">Enter film director:</label>
                <input type="text" id="director" name="director" class="form-control" />
            </div>
            <div class="form-group">
                <label for="release">Enter release date:</label>
                <input type="date" id="release" name="release" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Add Film</button>
        </form>
    </div>
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</body>
</html>
