@using TesttaskITExpert.BLL.Models.AddModels;
@using TesttaskITExpert.BLL.Models;
@model AddFilmModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Add Film</title>
    <style>
        .form-group {
            margin-bottom: 15px;
        }

        label {
            font-weight: bold;
        }

        .input {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .btn {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            .btn:hover {
                background-color: #0056b3;
            }

    </style>
</head>
<body>
    <div>
        <h1>Add Category</h1>
    </div>
    <form method="post" asp-controller="Film" asp-action="CreateFilm">
        <div class="form-group">
            <label asp-for="name">Enter film Name:</label>
            <input asp-for="name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="director">Enter film director:</label>
            <input asp-for="director" class="form-control" />
        </div
        <div class="form-group">
            <label asp-for="release">Enter film director:</label>
            <input asp-for="release" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Add Film</button>
    </form>
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</body>
</html>
